.contact {
  padding: 50px 20px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

body.dark-mode .contact {
  background-color: #000000;
  color: #ffffff;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.contact-info {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-item {
  flex: 1;
  min-width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

body.dark-mode .contact-item {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.contact-item i {
  font-size: 2em;
  color: #053120;
  margin-bottom: 10px;
}
body.dark-mode .contact-item i {
  color: #f0a500;
}

.contact-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode .contact-form {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
} 

 .contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #053120;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
body.dark-mode .contact-form button {
  background-color: #f0a500;
}

.contact-form button:hover {
  background-color: #333;
} 
