* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0 10px;
    /* background-color: #053120; */
  }
  
  .auth-container {
    background-color: #053120;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    color: white;
  }
  
  .auth-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-container input {
    width: 100%;
    display: block;
    padding: 10px;
    margin: 10px 0;
    background: #333;
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  input:hover {
    outline: 1px solid rgb(158, 158, 158);
  }
  .auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .auth-container p {
    text-align: center;
    margin-top: 10px;
  }
  
  .auth-container a {
    color: white;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  