* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #053120;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 3px 0;
  transition: all 0.3s;
}

.theme-toggle {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-color: #053120;
  color: #fff;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  gap: 20px;
}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #f0a500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #333;
}

.hero-image {
  flex: 1;
  min-width: 300px;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
/*  about section */
.about {
  padding: 50px 20px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

body.dark-mode .about {
  background-color: #000000;
  color: #ffffff;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
/* about */

.about-container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.about-item {
  flex: 1;
  min-width: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

body.dark-mode .about-item {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.about-item i {
  font-size: 2em;
  color: #053120;
  margin-bottom: 10px;
}
body.dark-mode .about-item i {
  color: #f0a500;
}

.about-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
} */

/*  Our Service Section */
.services {
  padding: 50px 20px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

body.dark-mode .services {
  background-color: #000000;
  color: #ffffff;
}

.services h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  flex: 1;
  min-width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

body.dark-mode .service-card {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.service-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 1em;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #053120;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
body.dark-mode .buy-button {
  background-color: #f0a500;
}

.buy-button:hover {
  background-color: #333;
} 
/*  Contact us section */
.contact {
  padding: 50px 20px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

body.dark-mode .contact {
  background-color: #000000;
  color: #ffffff;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.contact-info {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-item {
  flex: 1;
  min-width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

body.dark-mode .contact-item {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.contact-item i {
  font-size: 2em;
  color: #053120;
  margin-bottom: 10px;
}
body.dark-mode .contact-item i {
  color: #f0a500;
}

.contact-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode .contact-form {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
} 

 .contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #053120;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
body.dark-mode .contact-form button {
  background-color: #f0a500;
}

.contact-form button:hover {
  background-color: #333;
} 

/* footer */
.footer {
  padding: 40px 20px;
  background-color: #333;
  color: #ffffff;
  text-align: left;
}

body.dark-mode .footer {
  background-color: #333;
  color: #ffffff;
}

body.light-mode .footer {
  background-color: #333;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #97e0c4;
}

.footer-column .social-icons a {
  margin-right: 10px;
  color: #01a009;
  font-size: 1.5em;
  transition: color 0.3s;
}
body.dark-mode
  .footer-column
  .social-icons
  a
  .footer-column
  .social-icons
  a:hover {
  color: #053120;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}
/* 
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    text-align: center;
    margin-bottom: 20px;
  }
}

 @media screen and (max-width: 1100px) {
  .about-row {
    flex-direction: row;
    gap: 20px;
  }

  .services-container {
    flex-direction: row;
    gap: 20px;
  }
} */

/* .footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  text-align: left;
}

body.light-mode .footer {
  background-color: #333;
  color: #fff;
}

body.dark-mode .footer {
  background-color: #222;
  color: #fff;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #f0a500;
}

.social-media li a i {
  margin-right: 8px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 1em;
}  */

/* @media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 20px;
  }

  .footer-bottom {
    margin-top: 40px;
  }
} */

/* @media screen and (max-width: 768px) {
  .about-row,
  .services-container,
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .about-item,
  .service-card,
  .contact-item,
  .contact-form {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 520px) {
  .hero-text h1 {
    font-size: 2em;
  }

  .hero-text p {
    font-size: 1em;
  }

  .cta-button {
    padding: 8px 16px;
  }

  .about-item h3,
  .service-card h3,
  .contact-item h3 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-menu.active {
    display: flex;
  }
  .menu-toggle {
    display: flex;
  }
} */
